<div class="container">
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" style="margin: auto;">Lista de Tareas</a>
    </div>
  </nav>

  <br>

  <hr>
  <button type="button" class="btn btn-dark" (click)="loadTaskLists()"></button>
  <div c lass="container">
    <div class="row">
      <div class="col-md-auto" style="width: 30%;">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col"><b>Listas</b></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let t of tasksList">
              <td scope="row" (click)="selectTaskList(t)" [ngClass]="{'table-dark' : selectedTaskList == t}">
                <span *ngIf="t.name">{{t.name}}</span>
                <span *ngIf="!t.name" class="text-muted">lista sin nombre</span>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="taskListsActions">
          <button type="button" class="btn btn-dark" (click)="newTaskList()">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="white" class="bi bi-plus-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
          </button>
          <br>
          <button type="button" class="btn btn-dark" (click)="removeTaskList()">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="white" class="bi bi-dash-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="col-6" style="width: 70%;">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">
                <b *ngIf="!editingTaskListName">{{selectedTaskList.name}}</b>
                <input *ngIf="editingTaskListName" type="text" class="form-control" aria-describedby="basic-addon1" [(ngModel)]="selectedTaskList.name" (focusout)="updateTaskListName()">
                <div *ngIf="!editingTaskListName" style="float: right; cursor: pointer;" (click)="updatingTaskListName()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                  </svg>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of selectedTaskList.tasks">
              <td scope="row" (click)="selectTask(task)" [ngClass]="{'table-dark' : selectedTask == task, 'table-success' : task.done}">
                <span *ngIf="task.name">{{ task.name }} {{task.id}}</span>
                <span *ngIf="!task.name" class="text-muted">tarea sin nombre {{task.id}}</span>
                <div style="float: right;" *ngIf="!task.done">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-clock" viewBox="0 0 16 16">
                    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                  </svg>
                  <span class="text-muted"> (pendiente) </span>
                </div>
                <div style="float: right;" *ngIf="task.done">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                  </svg>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="taskActions">
          <button type="button" class="btn btn-dark" (click)="newTask()" [disabled]="!selectedTaskList.id">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="white" class="bi bi-plus-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
          </button>
          <br>
          <button type="button" class="btn btn-dark" (click)="removeTask()" [disabled]="!selectedTaskList.id">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="white" class="bi bi-dash-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
            </svg>
          </button>
          <br><br>
          <button type="button" class="btn btn-success" [disabled]="!userHasSelected" (click)="changeStatus()">
            <svg *ngIf="!selectedTask.done" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
            </svg>
            <svg *ngIf="selectedTask.done" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
              <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
            </svg>
          </button>
          <br>
          <button type="button" class="btn btn-secondary" [disabled]="!userHasSelected" (click)="moveUp()">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="white" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
            </svg>
          </button>
          <br>
          <button type="button" class="btn btn-secondary" [disabled]="!userHasSelected" (click)="moveDown()">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="white" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
            </svg>
          </button>
          <br><br>
      
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Tarea: </span>
            <input [placeholder]="(userHasSelected && !selectedTask.name) ? 'Tarea sin nombre' : ''" type="text" class="form-control" aria-describedby="basic-addon1" [(ngModel)]="newName" (focusout)="updateTaskName()" (keypress)="keyPress($event)" [disabled]="selectedTask == null">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>